@model Keramatian.Models.BackgroundColor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Clear"></div>
<div class="PanelDesign">

    <table class="TableDesign">
        <tr><th> @Html.Label("نام ")</th></tr>
        <tr><td> @Html.DisplayFor(model => model.Name)</td></tr>
    </table>

<a href="/BackgroundColor/Edit/@Model.Id">
    <div class="EditeBTN"></div>
</a>
        <br/>

    <a href="/BackgroundColor/Index">
        <div class="BackBtn"></div>
    </a>
    </div>