@model Keramatian.Models.Grade

@{
    ViewBag.Title = "Delete";
}

<div class="Clear"></div>
<div class="PanelDesign">
<h3>
آیا از حذف مطمئن هستید؟</h3>

<table class="TableDesign">
    <tr><th>@Html.DisplayName("نام")</th></tr>
    <tr><td>@Html.DisplayFor(model => model.Name)</td></tr>
</table>
 
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="" class="BtnDelet" />
        <br/>
       
    </p>
}
     <a href="/Grade/Index">
        <div class="BackBtn"></div>
    </a>
    </div>