@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
      <link rel="icon" href="../../Images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <title>LanguageSelect</title>
	
		<!--[if gte IE 7]>
<style type="text/css">
html {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	background-image: url("../../Images/IntroPage/IntroPage.jpg") ;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}
</style>
<![endif]-->

	
	
	
	<!--[if gte IE 8]>
<style type="text/css">
html {
position: fixed;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
top: 0px;
left: 0px;
z-index: -100;
background: url('../../Images/IntroPage/IntroPage.jpg') no-repeat fixed center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=’../../Images/IntroPage/IntroPage.jpg’,sizingMethod=’scale’);
-ms-filter: “progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../Images/IntroPage/IntroPage.jpg,sizingMethod=scale)”;
}
</style>
<![endif]-->

    <style type="text/css">

* {
    margin: 0;
    padding: 0;
}
html {
    background: url("../../Images/IntroPage/IntroPage.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    min-height: 100%;
}
body {
    min-height: 100%;
}
.footer {
    bottom: 0;
    height: 180px;
    left: 0;
    margin-bottom: 15px;
    margin-left: 50px;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
.Content {
    background-image: url("../../Images/IntroPage/ContentBG.png");
    background-repeat: no-repeat;
    bottom: 0;
    height: 180px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}
.ContentLink {
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 54px;
}
.ContentLink img
{
border:0px;
}
.FA {
    margin-left: 50px;
}
.Content a {
    float: right;
    cursor:pointer;
}


        </style>
</head>
<body>
          <div class="Content">
<div class="ContentLink">
            <a href="/Home/Index" class="FA"><img src="../../Images/IntroPage/FA.png"></a>
            <a href="/en/Home"><img src="../../Images/IntroPage/EN.png"></a>
</div>
        </div>

    
<div class="footer">
	
    <img src="../../Images/IntroPage/FooterTXT.png"/>
       </div>
</body>
</html>
