@{
    ViewBag.Title = "درباره ما";
}
<style type="text/css">
    .current_page_AboutUS{
        color: #00ADEF !important;
    }
</style>
<div class="Clear"></div>
<div class="AboutUS">
    <div class="AboutUSPIC">
        <img src="~/Images/AboutUsPic.png" />
        </div>
    <p>
فرش کرامتیان با بیش از نیم قرن تجربه در صنعت نساجی ، نوآوری و ابتکارات متعددی چون ساخت اولین دستگاه بافندگی فرش ماشینی ، با تکیه بر تکنولوژی و علم روز دنیا امروز جدیدترین نوآوری خود را در تولید فرشهای ابریشم گونه و چرم فرشهای تلفیقی به دنیا عرضه نموده است .
متخصصین ما با تلفیق تکنولوژی اروپا و بهره گیری از مواد اولیه ایرانی منجر به تحولی منحصر به فرد در این صنعت گردیده اند .
 زیبایی ، درخشندگی و لطافت بینظیر این فرشها به وجود آمده از نوع خاص مواد اولیه و تکنولوژی به کاررفته در تولید این محصول می باشد که آن را بسیار زیبا ، بادوام و نزدیک به فرش دستباف نموده و اوج هنر ایرانی را به منصه ظهور رسانیده است .
این محصول در محیط زندگی شما فضایی آرام و دلنشین ایجاد می نماید و با تنوع زیاد محصولات قابلیت انطباق با هرگونه دکوراسیون داخلی منزل و محل کار را به شما می دهد .عدم ایجاد حساسیت و  پرزدهی ، قابلیت حمل آسان ، انعطاف پذیری بینظیر و نیز شستشوی آسان از مزایای خاص این محصول می باشد که به شما این امکان را میدهد تا با اطمینان خاطر از عدم تغییر در رنگ ، ماهیت و زیبایی فرشتان به راحتی آن را در منزل شستشو نمایید .

<br><br>
<b style="color:#00ADEF;">
آدرس کارخانه:
</b><br>
اصفهان , شهرک صنعتی مبارکه
<br>
ایمیل :
Info@keramatian.com
<br>
تلفن : 
     5373440-0335
<br>
موبایل:
4630-118-0913  
  </p>
</div>