
@{
    ViewBag.Title = "نمایندگان";
}


<style type="text/css">
    .current_page_Namayande{
        color: #00ADEF !important;
    }
    .GoogleMap {
        width: 150px;
        float: right;
        background-image: url(/images/GoogleMap.png);
        background-repeat: no-repeat;
        background-position: left center;
        height: 35px;
    }
</style>
<div class="AboutUS">
<div class="Clear"></div>
<div style="float:right;margin-top:20px">
<img src="/images/Reseller/IsfahanCarpet.png">
</div>
<div class="Clear"></div>
<div class="Resellertxt">
<b style="color:gray;">شعبه مرکزی:</b>
<div class="Clear"></div>
<p>
میدان آزادی , اول هزار جریب, روبروی دانشگاه 
</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Darvaze.jpg">
</div>
    <div class="Clear"></div>
    <br/>
    <br/>
    <div class="Resellertxt">
<b style="color:gray;">شعبه بلوار ملت:</b>
<div class="Clear"></div>
<p style="">
بلوار ملت , نبش خیابان خورشید 
</p>


<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Bolvar.jpg">
</div>
    
   
    <div class="Clear"></div>
    <br/>
    <br/>

        <div class="Resellertxt">
<b style="color:gray;">شعبه نقش جهان(میدان امام):</b>
<div class="Clear"></div>
<p style="">
ضلع شمالی میدان امام , ورودی بازار قیصریه 

</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Meydun.jpg">
</div>
    

<div class="Clear"></div>
<br><br>

<div class="Clear"></div>




    <div style="float:right;margin-top:20px">
<img src="/images/Reseller/TehCarpet.png">
</div>
<div class="Clear"></div>


    
        <div class="Resellertxt">
<b style="color:gray;">شعبه هفت تیر :</b>
<div class="Clear"></div>
<p style="">
میدان هفت تیر ابتدای اتوبان مدرس شمالی نبش کوچه پارس پلاک 13 

</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh4.jpg">
</div>
    

<div class="Clear"></div>
<br><br>


<div class="Resellertxt">
<b style="color:gray;">شعبه بوستان:</b>
<div class="Clear"></div>
<p>
تهران , میدان پونک ,مجتمع بوستان , روبروی ورودی اصلی A
    </br/>
     طبقه بالا , جنب پله برقی 
</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Teh2.jpg">
</div>
    <div class="Clear"></div>
    <br/>
    <br/>
    <div class="Resellertxt">
<b style="color:gray;">شعبه تندیس:</b>
<div class="Clear"></div>
<p style="">
تهران , میدان تجریش مرکز خرید تندیس 
</p>


<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh3.jpg">
</div>
    
   
    <div class="Clear"></div>
    <br/>
    <br/>

        <div class="Resellertxt">
<b style="color:gray;">شعبه سمرقند :</b>
<div class="Clear"></div>
<p style="">
تهران جنت آباد جنوبی نبش چهارراه لاله مجتمع سمرقند 

</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh1.jpg">
</div>
    

<div class="Clear"></div>
<br><br>



<div style="float:right;margin-top:20px">
<img src="/images/Reseller/TabrizCarpet.png">
</div>
<div class="Clear"></div>
<div class="Resellertxt">
<b style="color:gray;">شعبه تبریز:</b>
<div class="Clear"></div>
<p>
خیابان امام , میدان منصور(شهید بهشتی) ضلع جنوب شرقی 
</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Tabriz.jpg">
</div>
    <div class="Clear"></div>
    <br/>
    <br/>

</div>