
@{
    ViewBag.Title = "نمایندگان";
}


<style type="text/css">
    .current_page_Namayande a{
        color: #00ADEF !important;
    }
    .GoogleMap {
        width: 150px;
        float: right;
        background-image: url(/images/GoogleMap.png);
        background-repeat: no-repeat;
        background-position: left center;
        height: 35px;
    }
</style>
<div class="AboutUS">
<div class="Clear"></div>
<div style="float:right;margin-top:20px">
<img src="/images/Reseller/IsfahanCarpet.png">
</div>
<div class="Clear"></div>
<div class="Resellertxt">
<b style="color:gray;">شعبه مرکزی:</b>
<div class="Clear"></div>
<p>
میدان آزادی , اول هزار جریب, روبروی دانشگاه 
</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Darvaze.jpg">
</div>
    <div class="Clear"></div>
    <br/>
    <br/>
    <div class="Resellertxt">
<b style="color:gray;">شعبه بلوار ملت:</b>
<div class="Clear"></div>
<p style="">
بلوار ملت , نبش خیابان خورشید 
</p>


<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Bolvar.jpg">
</div>
    
   
    <div class="Clear"></div>
    <br/>
    <br/>

        <div class="Resellertxt">
<b style="color:gray;">شعبه نقش جهان(میدان امام):</b>
<div class="Clear"></div>
<p style="">
ضلع شمالی میدان امام , ورودی بازار قیصریه 

</p>



<div class="GoogleMap">
مشاهده در گوگل
</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Meydun.jpg">
</div>
    

<div class="Clear"></div>
<br><br>
@*<div style="float:right">
<img src="/images/mashhad2.png">
</div>
<div class="Clear"></div>

<div class="Clear"></div>
<b style="color:gray;">شعبه بلوار معلم :</b>
<div class="Clear"></div>
<p style="width:400px;float:right">
چهار راه آزادشهر , بلوار معلم , بین معلم 7 و 9
</p>

<p style="width:200px;float:right">

تلفن : 6039617-0511
</p>

<p class="GoogleMap">
مشاهده در گوگل
</p>*@
<div class="Clear"></div>
</div>