@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}


<div class="Clear"></div>
<div style="border: solid 3px #574d43; float: right; width: 990px">
    <div style="border: solid 3px #efebf1; float: right; width: 984px">
        <div style="border: solid 3px #00adef; float: right; width: 978px">
            <div style="background-color: #bfbfbf; float: right; width: 978px; padding-top: 45px; padding-bottom: 45px">

                <a href="/carpet/">
                    <div class="GalleryBTN"></div>
                </a>
                <a href="/LeatherCarpet/">
                    <div class="LeatherBTN"></div>
                </a>
                <a href="/Announcement/">
                    <div class="NewsBTN"></div>
                </a>

                <div class="Clear"></div>

                <a href="/banner">
                    <div class="BannerBTN"></div>
                </a>
                <a href="/catalog">
                    <div class="CatalogBTN"></div>
                </a>
                <a href="">
                    <div class="RoleBTN"></div>
                </a>


                <div class="Clear"></div>
                <div style="width: 500px; margin: 0px auto; margin-top: 40px">
                    <a href="/plain/">
                        <div class="BorderBTN"></div>
                    </a>
                    <a href="/BackgroundColor/">
                        <div class="BgBTN"></div>
                    </a>
                </div>

                <div class="Clear"></div>
                <div style="width: 500px; margin: 0px auto; margin-top: 25px">
                    <a href="/Grade/">
                        <div class="GradeBTN"></div>
                    </a>
                    <a href="/Size/">
                        <div class="SizeBTN"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
