@model Keramatian.Models.TopBanner

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Clear"></div>
<div class="PanelDesign">
<h3>
آیا از حذف مطمئن هستید؟</h3>
<table class="TableDesign">
    <tr><th>@Html.DisplayName("اسم عکس")</th></tr>
    <tr><td>@Html.DisplayFor(model => model.ImageName)</td></tr>
    
       <tr><th>@Html.DisplayName("آدرس عکس")</th></tr>
    <tr><td>@Html.DisplayFor(model => model.ImagePath)</td></tr>
</table>

@using (Html.BeginForm()) {
    
        <input type="submit" value="" class="BtnDelet" />
      
  


}
        <br/>

<a href="/TopBanner/Index">
    <div class="BackBtn"></div>
</a>
    </div>