@model Keramatian.Models.Announcement

@{
    ViewBag.Title = "خبر";
}

<div class="Clear"></div>
<div class="NewsPage">
    <div>
        <span class="NewsIMG">
            <img  src="@Model.ImagePath" width="255" >
        </span>
        <p>
            <b>@Html.DisplayFor(model => model.Title)
            </b>
            <br />
            <br />
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))

        </p>
    </div>
</div>
