

/************************************************
	      JCAROUSEL LITE		
************************************************/
#list {
	width:990px; 
	margin:0px auto; 
}

.slider {
    float: left;
    position: relative;
    visibility: hidden;
    margin-left: -22px;
}
	
.slider ul {
	height:200px;
	width:900px; 
}

.slider ul li {
	padding:0 20px;
}

.slider ul li img {
	cursor:pointer;
	height:211px; 
	padding-top:3px;
	width:300px;  
}

.prev {
    cursor: pointer;
    float: left;
    position: relative;
    right: 123px;
    top: 143px;
    width: 40px !important;
    height: 40px !important;border: 0;
    background-image: url("/Images/images/diapo/prev.png");
}
.next {
    cursor: pointer;
    float: right;
    position: relative;
    right: -51px;
    top: -120px;
    width: 40px !important;
    height: 40px !important;border: 0;
    background-image: url("/Images/images/diapo/next.png");
}
.prev:hover {
    cursor: pointer;
    float: left;
    position: relative;
    right: 92px;
    top: 143px;
    width: 40px !important;
    background-image: url("/Images/images/diapo/prev-Hover.png");
    height: 40px !important;
}
.next:hover {
    cursor: pointer;
    float: right;
    position: relative;
    right: -52px;
    top: -120px;
    width: 40px !important;
    background-image: url("/Images/images/diapo/next-Hover.png");
    height: 40px !important;
}
.NewsWidth {
 width: 990px;   
}
/************************************************
	      CAPTIFY CAPTION		
************************************************/
.caption-top, .caption-bottom {
	background: #000000;
	color: #ffffff; 
	cursor:default;
	padding:2px; 
	font-size:11px;   
	text-align:center;
}

.caption-top {
	border-width:0px;
}

.caption-bottom {
	border-width:0px;
}

.caption a, .caption a {
	background:#000;
	border:none; 
	text-decoration:none;  
	padding:2px;
}

.caption a:hover, .caption a:hover {
	background:#202020;
}
