@{
    ViewBag.Title = "About US";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .current_page_AboutUS{
        color: #00ADEF !important;
    }
</style>
<div class="Clear"></div>
<div class="AboutUS" style="font-size:1.1em;">
    <div class="AboutUSPIC">
        <img src="/Images/AboutUsPic.png">
        </div>
    <p>
  
       Keramatian Carpet Company has over half a century’s worth of valuable experience in the weaving industry, and is a pioneer of machine made carpets in Iran. Delivering a product that benefit’s from the capability of modern technology, inspired by traditional designs of Persian rugs.  Keramatian Carpet has transformed an innovative concept into an impressive result. <br><br> We greatly appreciate and thank you for your interest in our carpets.  The manufacture of this exceptional product has lead to the transition into a new era in the modern carpet industry.  This is recognized globally as the Light Silk Effect Carpet. Our company using the latest technology and state of the art machinery in Iran has woven this unique carpet for the first time.   This Light Silk Effect Rug can be easily cleaned with mild carpet cleaning detergent at home without risk of damage to its texture, colors or appearance. Our carpets are high resistance and durable; they are lightweight and can be folded and easily carried. A specialized treatment process has been performed on the raw materials used to create these carpets, making them Hypoallergenic and Lint free.  When combining these raw materials with our specific woven technique, this enables us to create a carpet that is exquisite and high quality in both texture and appearance, with the beauty, sheer elegance and durability of a traditional handmade Persian Silk Rug.<br>
Keramatian Carpet Company
        
<br><br>
<b style="color:#00ADEF;">
Address :
</b><br>Isfahan,Mobarake Industrial Zone 
<br>
Email:
Info@keramatian.com
<br>
Phone: 
     0335-5373440
<br>
Mobile:
0913-118-4630 
    </p>
</div>