@{
    ViewBag.Title = "About US";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .current_page_AboutUS a{
        color: #00ADEF !important;
    }
</style>
<div class="Clear"></div>
<div class="AboutUS">
    <div class="AboutUSPIC">
        <img src="~/Images/AboutUsPic.png" />
        </div>
    <p>
  
        <b> Dear Consumer:</b><br/>
We greatly appreciate and thank you for your interest in our product. We would like to take this opportunity to inform you that the making of this exceptional product has started  a new era in the modern carpet industry recognized globally as the Light Silky Carpet.
This unique and exceptional carpet has been woven for the first time by our company with the latest technology and state of the art machinery in Iran. 
A significant process has been performed on the raw materials combined with specific texture and woven techniques to develop a rug with exquisite appearance and uniqueness as well as the durability of traditional handmade silk rugs.
This Light Silky Rug can be conveniently washed with any carpet cleaning detergent at home without any damage to its' texture or colors and without being deformed.
Moreover, it provides you with a pleasant environment free of fuzz and hypoallergenic to both humans and house pets.     
        Our carpets are highly resistant to exposure to sunlight and can be folded and easily carried.
        <br/>
Keramatian Carpet Company
        
<br><br>
<b style="color:#00ADEF;">
Address :
</b><br>Isfahan,Mobarake Industrial Park 
<br>
Email:
Info@keramatian.com
<br>
Phone: 
     5373440-0335
<br>
Mobile:
4630-118-0913 
    </p>
</div>