@{
    ViewBag.Title = "Resellers";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .current_page_Namayande{
        color: #00ADEF !important;
    }
    .GoogleMap {
        width: 150px;
        float: right;
        background-image: url(/images/GoogleMap.png);
        background-repeat: no-repeat;
        background-position: left center;
        height: 35px;
    }
</style><div class="AboutUS">
<div class="Clear"></div>
<div style="float:left;margin-top:20px">
<img src="/images/Reseller/IsfahanCarpetEN.png">
</div>
<div class="Clear"></div>
<div class="Resellertxt">
<b style="color:gray;">Central Branch:</b>
<div class="Clear"></div>
<p>
Azadi Square, Hezar Jerib, across from Isfahan University 
</p>



<div class="GoogleMap">Gogle Map</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Darvaze.jpg">
</div>
    <div class="Clear"></div>
    <br>
    <br>
    <div class="Resellertxt">
<b style="color:gray;">Mellat Boulevard Branch:</b>
<div class="Clear"></div>
<p>
Mellat Boulevard, Corner of Khorshid Street 
</p>


<div class="GoogleMap">Google Map</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Bolvar.jpg">
</div>
    
   
    <div class="Clear"></div>
    <br>
    <br>

        <div class="Resellertxt">
<b style="color:gray;">Imam Square Branch:</b>
<div class="Clear"></div>
<p>
Imam Square, across from Gheysarieh Bazar(North side of Imam Square)

</p>



<div class="GoogleMap">Google Map</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Meydun.jpg">
</div>
    

<div class="Clear"></div>
<br><br>

<div class="Clear"></div>




    <div style="float:left;margin-top:20px">
<img src="/images/Reseller/TehCarpetEN.png">
</div>
<div class="Clear"></div>


    
        <div class="Resellertxt">
<b style="color:gray;">Hafte Tir Branch:</b>
<div class="Clear"></div>
<p>
Hafte Tir Square, Beginning of North Modares Highway<br />Corner of Pars Alley No 13
</p>



<div class="GoogleMap">Google Map</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh4.jpg">
</div>
    

<div class="Clear"></div>
<br><br>


<div class="Resellertxt">
<b style="color:gray;">Bostan Branch:</b>
<div class="Clear"></div>
<p>
 Ponak Square, Bostan Plaza, across from main entry A

    <br>
      Second floor, next to escalator 
</p>



<div class="GoogleMap">Google Map</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Teh2.jpg">
</div>
    <div class="Clear"></div>
    <br>
    <br>
    <div class="Resellertxt">
<b style="color:gray;">Tandis Branch:</b>
<div class="Clear"></div>
<p>
Tajrish Square, Tandis shopping center 
</p>


<div class="GoogleMap">Google Map</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh3.jpg">
</div>
    
   
    <div class="Clear"></div>
    <br>
    <br>

        <div class="Resellertxt">
<b style="color:gray;">Samarghand Branch:</b>
<div class="Clear"></div>
<p>
Samarghand Shopping center, South Jannatabad
    <br />
    Corner of Laleh Square

</p>



<div class="GoogleMap">Google Map</div>
</div>
    <div class="Resellerimg">
<img src="/images/Reseller/Teh1.jpg">
</div>
    

<br>
<br>
<div class="Clear"></div>
<div style="float:left;margin-top:20px">
<img src="/images/Reseller/TabrizCarpetEN.png">
</div>

<div class="Clear"></div>
<br>
<br>
<div class="Resellertxt">
<b style="color:gray;">Tabriz Branch :</b>
<div class="Clear"></div>
<p>
Imam street, Southeast of Mansour( shahis Beheshti)square
<br>
</p>
<div class="GoogleMap">Google Map</div>
</div>
<div class="Resellerimg">
<img src="/images/Reseller/Tabriz.jpg">
</div>
<div class="Clear"></div>
<br><br>




</div>