@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .current_page_Namayande a {
        color: #00ADEF !important;
    }

    .GoogleMap {
        width: 150px;
        float: right;
        background-image: url(/images/GoogleMap.png);
        background-repeat: no-repeat;
        background-position: left center;
        height: 35px;
    }
</style>
<div class="AboutUS">

    <p>
    </p>
    <div style="float: right">
        <img src="/images/ESF2.png">
    </div>
    <div class="Clear"></div>
    <b style="color: gray;">شعبه مرکزی:</b>
    <div class="Clear"></div>
    <p style="width: 400px; float: right">
        میدان آزادی , اول هزار جریب, روبروی دانشگاه 
    </p>

    <p style="width: 200px; float: right">
        تلفن : 6699084-0311
    </p>

    <div class="GoogleMap">
        مشاهده در گوگل
    </div>
    <div class="Clear"></div>
    <b style="color: gray;">شعبه بلوار ملت:</b>
    <div class="Clear"></div>
    <p style="width: 400px; float: right">
        بلوار ملت , نبش خیابان خورشید 
    </p>

    <p style="width: 200px; float: right">
        تلفن : 6255930-0311
    </p>

    <div class="GoogleMap">
        مشاهده در گوگل
    </div>

    <div class="Clear"></div>
    <b style="color: gray;">شعبه نقش جهان(میدان امام):</b>
    <div class="Clear"></div>
    <p style="width: 400px; float: right">
        ضلع شمالی میدان امام , ورودی بازار قیصریه 
    </p>

    <p style="width: 200px; float: right">
    </p>

    <div class="GoogleMap">
        مشاهده در گوگل
    </div>
    <div class="Clear"></div>
    <br>
    <br>
    <div style="float: right">
        <img src="/images/mashhad2.png">
    </div>
    <div class="Clear"></div>

    <div class="Clear"></div>
    <b style="color: gray;">شعبه بلوار معلم :</b>
    <div class="Clear"></div>
    <p style="width: 400px; float: right">
        چهار راه آزادشهر , بلوار معلم , بین معلم 7 و 9
    </p>

    <p style="width: 200px; float: right">
        تلفن : 6039617-0511
    </p>

    <div class="GoogleMap">
        مشاهده در گوگل
    </div>
    <div class="Clear"></div>
</div>

